body {
  font-family: 'Lato', sans-serif;
  margin: 0; }
  body p {
    font-size: 12px; }

.container {
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  text-align: center; }

.border {
  border: solid 1px black; }
  @media (max-width: 768px) {
    .border {
      border: none; } }

h2 {
  background-color: white;
  letter-spacing: 2px;
  margin: 0 auto;
  position: relative;
  text-transform: uppercase;
  top: -15px;
  width: 250px;
  z-index: 1; }

.header {
  background-image: url("../Pictures/header.JPG");
  background-position: center;
  background-size: cover;
  height: 800px;
  padding: 5px 0; }
  .header h1, .header p {
    color: white;
    text-transform: uppercase; }
  .header h1 {
    font-size: 45px;
    letter-spacing: 4px; }
  .header .container {
    top: 150px; }
    @media (max-width: 768px) {
      .header .container {
        top: 75px; } }
  .header .click {
    position: relative;
    top: 180px; }

.sub-title, .about .container h2, .services h2, .whatwedo h2, .contact .container h2 {
  font-size: 25px;
  font-weight: bold; }

.sub-text, .about .container p, .services p, .whatwedo p, .contact .container p {
  letter-spacing: normal;
  text-transform: none; }

.about {
  padding: 60px 0;
  margin: 5px 0; }

.services {
  background-image: url("../Pictures/services.JPG");
  background-position: center;
  background-size: cover;
  padding: 60px 0;
  margin: 5px 0; }
  .services h2 {
    background-image: url("../Pictures/services.JPG");
    background-position: center; }
  .services h2, .services p {
    color: white; }
  .services .container {
    border-color: white; }

.whatwedo {
  padding: 60px 0; }
  .whatwedo h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; }
  .whatwedo .product-management {
    padding-bottom: 40px; }

.tiles .row {
  display: block;
  margin-bottom: 4px; }
.tiles [class*="col-"] {
  background-position: center;
  background-size: cover;
  height: 200px; }
  @media (max-width: 768px) {
    .tiles [class*="col-"] {
      margin: 2px 0; } }
.tiles .col-lg-6 {
  border-left: solid 4px white;
  border-right: solid 4px white; }
  @media (max-width: 768px) {
    .tiles .col-lg-6 {
      border: none; } }
.tiles h3 {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  padding-left: 15px;
  position: relative;
  text-transform: uppercase;
  top: 110px; }
.tiles .img1 {
  background-image: url("../Pictures/pic1.JPG"); }
.tiles .img2 {
  background-image: url("../Pictures/pic2.JPG"); }
.tiles .img3 {
  background-image: url("../Pictures/pic3.JPG"); }
.tiles .img4 {
  background-image: url("../Pictures/pic4.JPG"); }
.tiles .img5 {
  background-image: url("../Pictures/pic5.JPG"); }
.tiles .img6 {
  background-image: url("../Pictures/pic6.JPG"); }

.contact {
  padding: 60px 0; }
  .contact .container {
    padding-bottom: 20px; }
    .contact .container button {
      color: white;
      border: none;
      background-color: black;
      height: 50px;
      text-transform: uppercase;
      width: 300px; }

.foot-content {
  height: 100px;
  margin: 20px;
  padding: 0;
  text-align: center;
  width: 100%; }
  .foot-content h1 {
    display: inline; }
  .foot-content p {
    display: inline;
    padding-left: 20px; }

/*# sourceMappingURL=style.css.map */
