
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  p {
    font-size: 12px;
  }
}

.container {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

.border {
		border-left: solid 1px black;
		border-right: solid 1px black;
		border-bottom: solid 1px black;
		border-top: solid 1px black;
		@media (max-width: 768px) {
				border: none;
		}
}

h2 {
	background-color: white;
	letter-spacing: 2px;
	margin: 0 auto;
	position: relative;
	text-transform: uppercase;
	top: -35px;
	width: 250px;
	z-index: 1;

}

//HEADER

.header {
  background-image: url("../Pictures/header.JPG");
  background-position: center;
  background-size: cover;
  height: 800px;
  padding: 5px 0;
  h1, p {
        color: white;
        text-transform: uppercase;
      }
  h1 {
			font-size: 45px;
			letter-spacing: 4px;
  }
  .container {
    position: relative;
    top: 150px;
		@media (max-width: 768px) {
			top: 75px;
		}
  }
	.click {
		position: relative;
		top: 180px;
	}
}

//ABOUT

.about {
  height: 350px;
  margin: 5px 0;
  .container{
			position: relative;
			top: 60px;
			h2{
				font-size: 25px;
				font-weight: bold;
			}
			p {
				letter-spacing: normal;
				text-transform: none;
			}
  }
}

//SERVICES

.services {
  background-image: url("../Pictures/services.JPG");
  background-position: center;
  background-size: cover;
  height: 350px;
  margin: 5px 0;
	h2{
	//	background-color: rgba(0,0,0,0);
		background-image: url("../Pictures/services.JPG");
		background-position: center;
		font-size: 25px;
		font-weight: bold;
	}
  h2, p {
    color: white;
  }
	p {
		letter-spacing: normal;
		text-transform: none;
	}
  .container {
		border-color: white;
		position: relative;
    top: 90px;
  }
}

.whatwedo {
  height: 900px;
	h2{
		font-size: 25px;
		font-weight: bold;
	}
	p {
		letter-spacing: normal;
		text-transform: none;
	}
  h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .container {
		position: relative;
    top: 70px;
  }
}

//TILES

.tiles{
	.row {
		display: block;
    margin-bottom: 4px;
	}
	[class*="col-"] {
		background-position: center;
		background-size: cover;
		height: 200px;
		@media (max-width: 768px) {
			margin: 2px 0 2px 0;
		}
	}
  [class*="col-lg-6"] {
    border-left: solid 4px white;
    border-right: solid 4px white;
    @media (max-width: 768px) {
      border: none;
    }
  }
	h3 {
		color: white;
		font-weight: bold;
		letter-spacing: 2px;
		padding-left: 15px;
		position: relative;
		text-transform: uppercase;
    top: 110px;
	}

	.img1{
		background-image: url("../Pictures/pic5.JPG");
	}
	.img2{
		background-image: url("../Pictures/pic6.JPG");
	}
	.img3{
		background-image: url("../Pictures/pic4.JPG");
	}
	.img4{
		background-image: url("../Pictures/pic1.JPG");
	}
	.img5{
		background-image: url("../Pictures/pic2.JPG");
	}
	.img6{
		background-image: url("../Pictures/pic3.JPG");
	}
}

//CONTACT

.contact {
	height: 300px;
	.container {
		position: relative;
			padding-bottom: 20px;
			h2{
				font-size: 25px;
				font-weight: bold;
			}
			p {
				letter-spacing: normal;
				text-transform: none;
			}
		position: relative;
		top: 70px;
	button {
		color: white;
		border: none;
		background-color: black;
		height: 50px;
		text-transform: uppercase;
		width: 300px;
	}
	}
}

//FOOTER

.foot-content {
		height: 100px;
		h1 {
				display: inline;
		}
		p {
			display: inline;
			padding-left: 20px;
		}
    margin: 20px;
		padding: 0;
		text-align: center;
		width: 100%;

	}
